*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}
.stopwatch{
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px 24px;
    border-radius: 10px;
}
.timerDisplay{
    font-size: 50px;
    font-weight: bold;
}

.buttons{
    margin-top: 20px;
}
.btn{
    font-size: 20px;
    background-color: var(--clr);
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
}